img {
    width: 150px;
    height: 150px;
}
.footer_img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
a {
    color: rgb(51, 110, 210);
}
a:hover {
    color: red;
}
footer {
    background-color: rgb(80, 75, 75);
    color: white;
    padding: 15px 25px 15px 55px;
    display: flex;
    flex-direction: row;
    gap: 170px;
}
.column {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.column > span {
    text-align: justify;
}
#cont {
    margin-left: 28px;
}
#gmail {
    display: flex;
    flex-direction: row;
}
.footer_link {
    color:antiquewhite;
}
.footer_link:hover {
    color: red;
}
p {
    text-align: justify;
    font-size: 17px;
    text-indent: 20px;
}
li {
    font-size: 15px;
}
h1 {
    text-align: center;
}
h3 {
    margin-left: 30px;
    font-size: larger;
}
h4 {
    font-size: 17px;
}
main {
    margin: 0 50px 0 50px;
}
body {
    margin: 0 0 0 0;
}
.fleximg {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.img_position > p{
    text-align: center;
    margin: 5px 0px 10px 0px;
}
.img_position {
    width: 150px;
    margin-right: 20px;
    margin-left: 55px;
}

@media screen and (max-width: 620px) {
    .fleximg {
        flex-direction: column;
        align-items: center;
    }    
    .img_position {
        margin: 0 0 0 0;
    }

    h3 {
        margin-left: 0;
        text-align: center;
    }
    footer {
        flex-direction: column;
        gap: 30px;
    }
}